@tailwind base;
@tailwind components;


@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Thin.eot');
	src: url('../fonts/FaktPro-Thin.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Thin.woff') format('woff'),
	     url('../fonts/FaktPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-ThinItalic.eot');
	src: url('../fonts/FaktPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-ThinItalic.woff') format('woff'),
	     url('../fonts/FaktPro-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Light.eot');
	src: url('../fonts/FaktPro-Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Light.woff') format('woff'),
	     url('../fonts/FaktPro-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}


@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Blond.eot');
	src: url('../fonts/FaktPro-Blond.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Blond.woff') format('woff'),
	     url('../fonts/FaktPro-Blond.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Normal.eot');
	src: url('../fonts/FaktPro-Normal.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Normal.woff') format('woff'),
	     url('../fonts/FaktPro-Normal.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-Medium.eot');
	src: url('../fonts/FaktPro-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-Medium.woff') format('woff'),
	     url('../fonts/FaktPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fakt';
	src: url('../fonts/FaktPro-SemiBold.eot');
	src: url('../fonts/FaktPro-SemiBold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/FaktPro-SemiBold.woff') format('woff'),
	     url('../fonts/FaktPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}




body {
  @apply bg-gray-1 font-fakt pt-24 lg:pt-44;
}

.header-inner {
	@apply flex justify-between items-center py-4 lg:py-0 px-4 bg-white lg:bg-transparent shadow-xl lg:shadow-none;
}


.header {@apply fixed w-full top-4 z-40 py-2;}
.menu-active .header, .header.sticky {@apply fixed py-4;}
.menu-active .header .header-inner, .header.sticky .header-inner {@apply lg:float-right p-4 lg:w-1/2 lg:bg-white lg:shadow-xl;}
.menu-active .header .header-inner .logo-lg, .header.sticky .header-inner .logo-lg {@apply hidden !important;}
.menu-active .header .header-inner .logo-sm, .header.sticky .header-inner .logo-sm {@apply block !important;}
.menu-active .header .trigger, .header.sticky .trigger {@apply shadow-none;}

.menu-active .header .main-menu {@apply block;}
.menu-active:after {content: '';background: rgba(0,0,0,0.35);top: 0;right: 0;bottom: 0;left: 0;position: fixed;z-index: 1; backdrop-filter: blur(5px);}

@screen md {
	.main-menu {max-width:50%;}
}



/* Icon 1 */
#nav-icon3 {width: 32px;height: 22px;position: relative;margin: 50px auto;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out;-o-transition: .5s ease-in-out;transition: .5s ease-in-out;cursor: pointer;}
#nav-icon3 span {display: block;position: absolute;height: 1px;width: 100%;background: #000;opacity: 1;left: 0;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
#nav-icon3 span:nth-child(1) {top: 0px;}
#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {top: 11px;}
#nav-icon3 span:nth-child(4) {top: 21px;}
.menu-active #nav-icon3 span:nth-child(1) {top: 18px;width: 0%;left: 50%;}
.menu-active #nav-icon3 span:nth-child(2) {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.menu-active #nav-icon3 span:nth-child(3) {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.menu-active #nav-icon3 span:nth-child(4) {top: 18px;width: 0%;left: 50%;}
  


.square-link {
	@apply w-1/2 md:w-1/3 relative;
	padding-top:48%;
}
.square-link > span {@apply p-5 lg:p-7 text-xl md:text-1-75 lg:text-3-25 absolute inset-0;}

@screen md {
	.square-link {padding-top:31%;}
}

/* Dropdown */
@screen lg {
  .dropdown-menu:hover > div {display: block !important ;}  
  .bg-white .mega-dropdown {@apply border-t;}
}


/* HAMBURGER MENU */
.icon-hamburger{@apply relative m-auto cursor-pointer; width: 28px;height: 22px;transform:rotate(0);transition:.5s ease-in-out;}
.icon-hamburger span{@apply block absolute bg-white rounded left-0 opacity-100 w-full;height:3px;transform:rotate(0);transition:.25s ease-in-out}
.bg-white .icon-hamburger span{@apply bg-blue-900;}
.icon-hamburger span:nth-child(1){@apply top-0;}
.icon-hamburger span:nth-child(2), .icon-hamburger span:nth-child(3){top: 9px;}
.icon-hamburger span:nth-child(4){top: 18px;}
.icon-hamburger.open span:nth-child(1){top:18px;width:0%;left:50%}
.icon-hamburger.open span:nth-child(2){transform:rotate(45deg)}
.icon-hamburger.open span:nth-child(3){transform:rotate(-45deg)}
.icon-hamburger.open span:nth-child(4){top:18px;width:0%;left:50%}


/* MOBILE MENU */
.main-nav.open {
    @apply absolute top-full left-0 right-0 border-t;
    display:block !important;
    box-shadow: 0 99px 69px rgba(0, 0, 0, 0.06);
}

.arrow-link:before {content:url("data:image/svg+xml,%3Csvg%20width%3D%2213%22%20height%3D%2210%22%20viewBox%3D%220%200%2013%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.6971%204.37168L6.66552%200.743294L7.33448%200L12.3345%204.5L12.7474%204.87165L12.3345%205.24329L7.33448%209.74329L6.66552%209L10.697%205.37168L0%205.37168L0%204.37168L10.6971%204.37168Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");line-height: 0;margin-right: 10px;}



@tailwind utilities;